@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 220 33% 92%;
    --foreground: 220 10% 20%;
    --card: 220 33% 98%;
    --card-foreground: 220 10% 20%;
    --popover: 220 33% 98%;
    --popover-foreground: 220 10% 20%;
    --primary: 217 68% 32%;
    --primary-foreground: 210 40% 98%;
    --secondary: 220 15% 90%;
    --secondary-foreground: 220 10% 20%;
    --muted: 220 15% 85%;
    --muted-foreground: 220 10% 40%;
    --accent: 32 95% 44%;
    --accent-foreground: 32 40% 98%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 220 15% 80%;
    --input: 220 15% 88%;
    --ring: 217 68% 32%;
    --chart-1: 217 68% 32%;
    --chart-2: 32 95% 44%;
    --chart-3: 197 37% 34%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
    --sidebar-background: 220 10% 15%;
    --sidebar-foreground: 220 15% 95%;
    --sidebar-primary: 217 68% 50%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 220 10% 25%;
    --sidebar-accent-foreground: 220 15% 95%;
    --sidebar-border: 220 10% 25%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }

  .dark {
    --background: 220 10% 10%;
    --foreground: 220 15% 95%;
    --card: 220 10% 15%;
    --card-foreground: 220 15% 95%;
    --popover: 220 10% 15%;
    --popover-foreground: 220 15% 95%;
    --primary: 217 68% 50%;
    --primary-foreground: 210 40% 98%;
    --secondary: 220 10% 20%;
    --secondary-foreground: 220 15% 95%;
    --muted: 220 10% 25%;
    --muted-foreground: 220 10% 60%;
    --accent: 32 95% 54%;
    --accent-foreground: 32 40% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 220 10% 25%;
    --input: 220 10% 20%;
    --ring: 217 68% 50%;
    --chart-1: 217 68% 50%;
    --chart-2: 32 95% 54%;
    --chart-3: 197 37% 44%;
    --chart-4: 43 74% 56%;
    --chart-5: 27 87% 57%;
    --sidebar-background: 220 10% 10%;
    --sidebar-foreground: 220 15% 95%;
    --sidebar-primary: 217 68% 50%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 220 10% 20%;
    --sidebar-accent-foreground: 220 15% 95%;
    --sidebar-border: 220 10% 20%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
